<div id="images">
  <input type="button" value="Add a new image" style="margin: 10px;" (click)="saveImage()">
  <div id="newImage">
    <input type="text" placeholder="Image Title" [(ngModel)]="currentImageText">
    <input type="text" placeholder="Image Link"[(ngModel)]="currentImageLink">
  </div>
  <div id="imageList">
    <ul>
      <li *ngFor="let image of getImages()">
        <h2 (click)="showImage(image[1])">{{image[0]}}</h2>
      </li>
    </ul>
  </div>
  <div id="imageContainer">
    <p id="closeImage" (click)="closeImage()" *ngIf="displayImage">close</p>
    <img [src]="currentImage" *ngIf="displayImage"/>
  </div>
</div>
